<nav>
  <ul>
      <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">face</i>
        <div mat-raised-button class="btn btn-danger btn-block">  user status </div>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">list</i>
        <div mat-raised-button class="btn btn-danger btn-block"> user Post </div>
      </a>
    </li>
    <li>
      <a routerLink="login" [class.activated]="currentUrl == '/login'">
        <i class="material-icons">shopping_cart</i>
        <div mat-raised-button class="btn btn-danger btn-block">  your Cart </div>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/postsasddd'">
        <i class="material-icons">web</i>
        <div mat-raised-button class="btn btn-danger btn-block">  web </div>
      </a>
    </li>
    <li>
      <a routerLink="chatnow" [class.activated]="currentUrl == '/chatnow'">
        <i class="material-icons">call</i>
        <div mat-raised-button class="btn btn-danger btn-block">  ChatNow </div>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/postsa'">
        <i class="material-icons">message</i>
        <div mat-raised-button class="btn btn-danger btn-block">  Mask </div>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/postsasdd'">
        <i class="material-icons">settings</i>
        <div mat-raised-button class="btn btn-danger btn-block">  settings </div>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/pasosts'">
        <i class="material-icons">help</i>
        <div mat-raised-button class="btn btn-danger btn-block">  help </div>
      </a>
    </li>

  </ul>
</nav>