#chatbg {
	-webkit-clip-path: polygon(59% 33%, 0 0, 100% 100%, 40% 64%);
    clip-path: polygon(63% -14%, 0 0, 103% 101%, 46% 85%);
    background-color: red;
}
#chatbg1 {
-webkit-clip-path: polygon(28% 60%, 0 20%, 21% 23%, 51% 48%, 76% 20%, 100% 15%, 76% 59%, 64% 71%, 61% 99%, 54% 71%, 45% 100%, 41% 73%);
clip-path: polygon(28% 60%, 0 20%, 21% 23%, 51% 48%, 76% 20%, 100% 15%, 76% 59%, 64% 71%, 61% 99%, 54% 71%, 45% 100%, 41% 73%);
    background-color: black;
}
#newback111 {
	
-webkit-clip-path: polygon(40% 31%, 42% 15%, 51% 30%, 61% 15%, 61% 31%, 100% 29%, 76% 52%, 100% 63%, 54% 74%, 0 68%, 26% 54%, 0 32%);
clip-path: polygon(40% 31%, 42% 15%, 51% 30%, 61% 15%, 61% 31%, 100% 29%, 76% 52%, 100% 63%, 54% 74%, 0 68%, 26% 54%, 0 32%);
background-color: yellow;
}
#newback11 {

background-color: darkgrey;
}